.ingredient-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 120rem;
  margin-inline: auto;
  padding: 2rem;
}

.ingredient-header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid var(--line);
}

.table-card {
  padding: 1.6rem;
}

.actions {
  display: flex;
  gap: 0.8rem;
}

@media (min-width: 641px) {
  .ingredient-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
